html{
    scroll-behavior: smooth;
}


.landing-page{
    background-image: url(../images/seattle-skyline.jpg);
    background-size: cover; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}
.landing-text{
    color: white;
    text-shadow: 1px 1px 2px black;
    margin-bottom: 10vh;
}
.landing-btn {
	background-color: transparent !important;
	border: 2px solid white;
	border-radius: 0px;
	width: 150px;
    font-size: 17px;
}

.landing-btn:hover {
	border: 2px solid white;
	background-color: white !important;
	border-radius: 0px;
	color: black;
}

.bottom-form-row{
    margin-top: 3vh;
}

.contact-btn {
	background-color: transparent !important;
    border: 2px solid black;
    color: black;
	border-radius: 0px;
	width: 150px;
    font-size: 17px;
    margin-top: 3vh;
}

.contact-btn:hover {
	border: 2px solid black;
	background-color: black !important;
	border-radius: 0px;
	color: white;
}


.profile-pic{
    width: 500px;
    height: auto;
}
.profile-pic2{
    width: 150px;
    height: auto;
}

.circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    border: 2px solid black;
    color: black;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.circle:hover {
    border: 2px solid black;
	background-color: black !important;
	color: white;
  }

.contact-icon{
    align-items: center;
}

.contact-buttons{
    justify-content: space-between;
    text-align: center;
}
.contact-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10vh;
    height: 60vh;
}

.contact-title{
    text-align: center;
}

.about-txt{
    margin-left: 1vw;
}

.form-container{
    width: 60%;
}

.social-container{
    justify-content: center;
    text-align: center;
}