html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}
a:hover{
    text-decoration: none;
}

input {
    border-radius: 0%;
  }
/*--------------------------------------------NAVIGATION SECTION ---------------------------------------------------------

.nav-link{
    color: white;
}
nav{
    background-color: black;
    z-index: 1000;
    text-shadow: 1px 1px 2px black;
}
.navbar-toggler-icon{
    color: white;
    padding-top: 6px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
} 
.sticky + .content {
    padding-top: 60px;
}

*/
.navi-button-contain{
    display: block;
    top : 20px;
    right : 20px;
    position: fixed;
    z-index: 1;
}
.sidenav .ozzy-brand{
    position: absolute;
    top: 0;
    font-size: 36px;
    
}
.ozzy-logo{
    width: 60px;
    height: auto;
}
.customButton{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    color: white;
    background-color: white;
    box-shadow: 0px 3px 7px rgba(67, 68, 68, 0.4);
    font-size: 16px;
    font-weight: 700;
    margin: 0 auto ;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
 }
 
 .customButton:hover {
    box-shadow: 0px 15px 20px rgba(67, 68, 68, 0.4);
    transform: translateY(-5px);
   cursor: pointer;
 }
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1222; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    white-space: nowrap;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
  
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


/*-----------------------------------------------------LANDING SECTION-------------------------------------------------------------------*/
.landing-page{
    background-image: url(../images/seattle-skyline.jpg);
    background-size: cover; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 0;
}
.landing-text{
    color: white;
    text-shadow: 1px 1px 2px black;
    margin-bottom: 10vh;
}
.landing-btn {
	background-color: transparent !important;
	border: 2px solid white;
	border-radius: 0px;
	width: 150px;
    font-size: 17px;
}

.landing-btn:hover {
	border: 2px solid white;
	background-color: white !important;
	border-radius: 0px;
	color: black;
}
.jumbotron{
    border-radius: 0%;
}
/*-----------------------------------------------------WHAT WE DO WITH SECTION--------------------------------------------------------------*/
.what-we-do-section{
    background-color: black;
    color: white;
    padding-top: 5vh;
    padding-bottom: 10vh;
}

/*-----------------------------------------------------WHO WE WORK WITH SECTION--------------------------------------------------------------*/
.work-with-section{
    background-color: black;
    color: white;
    padding-top: 5vh;
    padding-bottom: 10vh;
}
.logo-container{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1% 0
}
.keller-logo{
    height: auto;
    width: 220px;
}
.scrupps-logo{
    height: auto;
    width: 250px;
    
}


/*-------------------------------------------------------------WHO WE ARE SECTION--------------------------------------------------------------------*/
.about-section{
   height: 100%;
   padding-top: 5vh;
}
.ozzy-row{
    display: flex;
    justify-content: center;
    margin-bottom: 8vh;
}

.support-row{
    display: flex;
    justify-content: center;
    margin-bottom: 5vh;
}
.supporting-row{
    display: flex;
    justify-content: space-between;
}
.who-we-are-txt{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.header-text{
    text-align: center;
    margin-bottom: 35px;
}
.about-icon-row{
    
    text-align: center;
}
.about-icon{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    color: white;
    border: 2px solid white;
    font-size: 16px;
    font-weight: 700;
    margin: 0 auto ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fas, .fab{
    color: red;
}

.about-txt{
    color: white;
    text-align: center;
}



/*-------------------------------------------------------CONTACT SECTION----------------------------------------------------------------------------------*/

.bottom-form-row{
    margin-top: 3vh;
}

.contact-container{
    padding-top: 5vh;
}

.contact-btn {
	background-color: transparent !important;
    border: 2px solid black;
    color: black;
	border-radius: 0px;
	width: 150px;
    font-size: 17px;
    margin-top: 3vh;
}

.contact-btn:hover {
	border: 2px solid black;
	background-color: black !important;
	border-radius: 0px;
	color: white;
}
.button-txt{
    text-align: center;
    margin-left: 1vw;
}

.profile-pic{
    width: 500px;
    height: auto;
}
.profile-pic2{
    width: 100%;
    height: auto;
}

.circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    border: 2px solid black;
    color: black;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.circle:hover {
    border: 2px solid black;
	background-color: black !important;
	color: white;
  }

.contact-icon{
    align-items: center;
}

.contact-button-section{
    display: flex;
    justify-content: center;
}
.contact-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10vh;
    height: 60vh;
}

.contact-title{
    text-align: center;
}

.form-container{
    width: 100%;
}

.social-container{
    justify-content: center;
    text-align: center;
}
/*------------------------------------------------------------FOOTER SECTION-------------------------------------------------
.footer{
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; 
    line-height: 60px; 
    background-color: #f5f5f5;
    margin-top: -50px;
    
}
*/
@media screen and (max-width:641px){
    .about-icon{
        height: 100px;
        width: 100px;
       
    }
    .contact-btn{
        margin-bottom: 25px;
    }
    .button-container{
        display: flex;
        justify-content: center;
    }
   .profile-pic2{
       width: 90%;
   }
   .who-we-are-txt{
       text-align: center;
   }
   .ozzy-pic-container{
    display: flex;
    justify-content: center;
}
.keller-logo{
    height: auto;
    width: 100%;
}
.scrupps-logo{
    height: auto;
    width: 100%;
    
}
}
@media screen and (max-width:850px){
    .line-break{
        display: none;
    }
}